<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="3.0" package="com.LanternMyWilly.Ride2Earn" android:installLocation="internalOnly" android:versionCode="3">
	<uses-sdk android:minSdkVersion="15" />
	<application android:label="Ride2Earn" android:icon="@drawable/Logo2"></application>
</manifest>